bin
build
build.properties
*.pidb
*.userprefs
test-results
/src/Boo.Adt/obj
/src/Boo.OMeta/obj
/src/Boo.OMeta.Parser/obj
/src/Boo.OMeta.Parser.Tests/obj
/src/Boo.OMeta.Tests/obj
/src/OMetaParserConsole/obj

/src/OMetaParserConsole/app.config
